{% extends "base.html" %}

{% block content %}
<section class="wrapper">
<div class="column is-12">
    <h3 class="title">Privacy Policy</h3>
    <pre style="text-align: left; font-size: 13px;">
We will never sell your information to anyone. We have a responsibility to keep people’s information safe and secure, 
and we impose strict restrictions on how our partners can use and disclose data. 
We explain all of the circumstances where we share information and make our commitments to people more clear.
<b>Badr Secure Payment System Team</b>
    </pre>
</div>
</section>
{% endblock %}