{% extends "base.html" %}

{% block content %}

{% set list1 = data %}
{% set counter = 0 %}
<h1>
    Hisotry of Transactions
</h1>
<br>
<section class="wrapper">
  <div class="column is-12">
    <table border=1 class="table table-striped">
      <tr class="thead-dark"> 
        <th>Date Time</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Balance</th>
      </tr> 
      {% for item in list1 %}
      <tr>
        <td>{{ item.dateTime }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.balance }}</td>
      </tr>
{% endfor %}
     
      </table>
   
    </div>
    
  </section>
{% endblock %}